@model Customer
@{
    ViewData["Title"] = "AddCustomer";
}

<h1>AddCustomer</h1>

<form asp-action="AddCustomer" method="post">
    <h4>Create a new account.</h4>
    <hr />
    <div class="form-group">
        <label asp-for="@Model.SSNID"></label>
        <input type="number" asp-for="@Model.SSNID" class="form-control" />
        <span asp-validation-for="@Model.SSNID" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Name"></label>
        <input type="text" asp-for="@Model.Name" class="form-control" />
        <span asp-validation-for="@Model.Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Age"></label>
        <input type="number" asp-for="@Model.Age" class="form-control" />
        <span asp-validation-for="@Model.Age" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Address"></label>
        <input type="text" asp-for="@Model.Address" class="form-control" />
        <span asp-validation-for="@Model.Address" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Email"></label>
        <input type="email" asp-for="@Model.Email" class="form-control" />
        <span asp-validation-for="@Model.Email" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
</form>