@model Customer
@{
    ViewData["Title"] = "DeleteCustomer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row align-items-center">
    <div class="col-md-6">
        <form asp-action="DeleteCustomer">
            <h4>Are you sure you want to delete customer?</h4>
            <hr />
            @Html.HiddenFor(x => x.CustomerID)
            @Html.HiddenFor(x => x.SSNID)
            @Html.HiddenFor(x => x.Name)
            @Html.HiddenFor(x => x.Age)
            @Html.HiddenFor(x => x.Address)
            @Html.HiddenFor(x => x.Status)
            @Html.HiddenFor(x => x.Email)
            <button type="submit" class="btn btn-danger">Yes</button>
            <a href="javascript:history.go(-1)" class="btn btn-primary" role="button">No</a>
        </form>
    </div>
</div>
