@using Retail_Banking_API.Models;
@model IEnumerable<Customer>

@{
    ViewData["Title"] = "GetAllCustomers";
}

<h1>GetAllCustomers</h1>

@if (TempData["Response"] != null)
{
    <p>@TempData["Response"]</p>
}

@if(Model != default){
    @foreach (Customer customer in Model)
    {
        {
            @customer.CustomerID
            @customer.SSNID
            @customer.Name
            @customer.Age
            @customer.Address
            @customer.Email
            @Html.ActionLink("Delete","DeleteCustomer","Customer",new {CustomerID = customer.CustomerID})
            @Html.ActionLink("Update","UpdateCustomer","Customer",new {CustomerID = customer.CustomerID})
        }
    }
                                    
}
else{
    <p>@TempData["Response"]</p>
}