@using Retail_Banking_API.Models
@model Customer
@{
    ViewData["Title"] = "ShowCustomer";
}

<h1>ShowCustomer</h1>

@if (TempData["Response"] != null)
{
    <p>@TempData["Response"]</p>
}

@Model.CustomerID
@Model.SSNID
@Model.Name
@Model.Age
@Model.Address
@Model.Email
